.body {
    margin: 0;
}

.top {
    display: flex;
    justify-content: center;
}

.header {
    margin-right: 750px;
    color:rgb(126, 124, 124)
}

.setting-button  {
   margin-top: 20px;
   margin-right: 30px;
   background-color: white;
   color: rgb(156, 154, 154);
   border: 0;
   padding: 0;
}

.setting-button:hover   {
    color: bisque; 
}

.picture::before {
    content: "";
    background-color: black;
    z-index: 3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

.picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
    background-image: url(
        ../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    height: 760px;
    background-position: 50%;
}

.picture-header, .picture-button, .picture-text {
    z-index: 4;
}

.picture-header {
    font-size: 4rem;
    color: white;
    margin-top: -150px;
}

.picture-text {
    font-size: 1rem;
    color: rgb(214, 191, 61);
    margin-top: -20px;
}

.picture-button {
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 120px;
    color: rgba(100, 99, 99, 0.699);
    background-color: white;
}

.first-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 980px;
    margin: auto;
}

.picture-content {
    padding-top: 120px;
    width: 980px;
}

.content-header {
    padding-top: 7px;
    width: 100%;
    font-family: Arial Black;
    font-size: 1.2rem;
}

.author-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 50px;
}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.content-button {
    border: 1px solid rgb(107, 104, 104);
    border-radius: 20px;
    height: 45px;
    width: 150px;
    margin-top: 20px;
    margin-right: 830px;
    background-color: white;
    font-family: Franklin Gothic Medium;
    color: rgb(107, 104, 104)
}

.content-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -25px;
    width: 400px;
    font-size: 0.9rem;
}

.content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Franklin Gothic Medium;
    margin-top: 0px;
    color:rgb(107, 104, 104);
}

.content-boost {
    margin-right: 630px;
    margin-top: -25px;
}

.line {
    margin: 10px auto;
    height: 1px;
    width: 980px;
    margin-top: 50px;
    background-color: rgb(107, 104, 104);
}

.second-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 980px;
    margin: auto;
}

.second-picture-content {
    padding-top: 90px;
    width: 980px;
}

.second-content-header {
    padding-top: 7px;
    width: 100%;
    font-family: Arial Black;
    font-size: 1.2rem;
}

.footer {
    margin-top: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

.header-footer {
    color: white;
    font-size: 1.5rem;
}

.first-text-footer {
    color:rgb(107, 104, 104);
    width: 410px;
    font-size: 1rem;
}

.first-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.second-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.second-text-footer {
    color:rgb(107, 104, 104);
    font-size: 1rem;
}