.main {
    background-color: #1e90ff;
}

.main p {
    text-align: center;
    color: white;
}

.bottom {
    text-align: center;
    font-size: 23px;
    padding-right: 150px;
    color: white;
}

.picture {
    margin-top: 10x;
}

TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 2px solid white; 
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.Paris {
    background-color: aqua;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    color: white;
    padding-right: 525px;
}

.table {
    margin: auto;
 }

.Belgrade {
    background-color: rgba(137, 43, 226, 0.712);
}

.Moscow {
    background-color: rgba(255, 0, 0, 0.767);
}

.TelAviv {
    background-color: rgb(255, 72, 0);
}
.Cair {
    background-color: rgba(255, 255, 0, 0.89);
}

.NewYork {
    background-color: rgba(172, 255, 47, 0.685);
}

.NewDelhi {
    background-color: rgba(54, 54, 117, 0.479);
}

.SanFrancisco {
    background-color: rgb(207, 80, 101);
}

.Tokyo {
    background-color: green;
}

.Sydney {
    background-color: rgba(128, 0, 128, 0.685);
}
