TABLE {
    width: 300px; /* Ширина таблицы */
    border: 2px solid black; /* Рамка вокруг таблицы */
    color: rgb(5, 5, 5); /* Цвет текста */
}

TD, TH {
    text-align: center; /* Выравнивание по центру */
    padding: 3px; /* Поля вокруг текста */
}

TH {
    color: black; /* Цвет текста */
    border-bottom: 4px double black; /* Двойная линия снизу */
}

.lc { /* Стиль для первой колонки */
    text-align: center; /* Выравнивание по центральному  */
    color: #152710; /* Цвет текста */
    background: #19e619; /* Цвет фона */
}

.lc1 { /* Стиль для первой колонки */
    text-align: center; /* Выравнивание по центральному */
    color: #152710; /* Цвет текста */
    background: red; /* Цвет фона */
}

.table tr td:nth-child(2) {
    display: flex;
    justify-content: left;
}

h1 {
    color: white;
    font: italic small-caps bold 25px cursive;
    padding: 10px;
}

.container {
    display: flex;
}
.hyi {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 70%;
    margin-left: 20px;
}

.hyi a:link {
    color: red;
    padding: 5px;
}

.background {
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    width: 25%;
}

.forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(182, 192, 189, 0.925);
    padding: 20px;
}

.forma div input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.forma p {
    padding: 0px 5px;
    font: italic small-caps bold 14px cursive;
    color: antiquewhite;
}

.forma a:link {
    color: antiquewhite;
}

.button  {
    padding: 15px 10px;
}
.signUp {
    border-radius: 10px;
    border: none;
    height: 30px;
    background-color: red;
    color: white;
    font: italic 13px;
}
