.button {
    color: white;
    background-color: rgb(0, 166, 231);
    width: 60px;
    height: 30px;
    border: none;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.one-top {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.one-bot {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.content {
    margin: 0px;
}