
:root {
  --bg-color--dark: #0b192f;
  --bg-color--medium: #162b4d;
  --text--color: #484848;
  --link: #fff;
  --link--hover: #b8b8b8;
}

body {
  font-family: roboto;
  background-color: #0b192f;
}

.post-1 {
  height: 420px;
  width: auto;
  background: #F3D250;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #484848;
}

.post-1:hover {
  background-color: #F3D250;
  cursor: pointer;
  opacity: 0.9;
}

.post-2:hover {
  background-color: #8D8741;
  cursor: pointer;
  opacity: 0.9;
}

.post-3:hover {
  background-color: #659DBD;
  cursor: pointer;
  opacity: 0.9;
}

.post-4:hover {
  background-color: #DAAD86;
  cursor: pointer;
  opacity: 0.9;
}

.picture-footer:hover {
  background-color: #b8b8b8;
  cursor: pointer;
  opacity: 0.9;
}

.post-1-text {
  width: 350px;
  line-height: 2.2rem;
  margin-top: -15px;
}

.image-1:hover {
  background-color: #f7cb1b;
  cursor: pointer;
}

.image-1 {
  background-image: url(../img/post1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  width: 50%;
  background-position: 50%;
}

.image-2 {
  background-image: url(../img/post2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  width: 50%;
  background-position: 50%;
}

.image-3 {
  background-image: url(../img/post3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  width: 50%;
  background-position: 50%;
}

.image-4 {
  background-image: url(../img/post4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  width: 50%;
  background-position: 50%;
}

.post-1-main {
  display: flex;
  flex-direction: column;
}

.date-font-1 {
  font-size: 3rem;
  height: 20px;
  width: auto;
  font-weight: inherit;
  text-align: center;
}

.header-post-1 {
  font-size: 2rem;
  height: auto;
  width: 300px;
  font-weight: inherit;
}

.date-font-2 {
  font-size: 1.5rem;
  height: auto;
  width: auto;
  text-align: center;
}

.date {
  margin-top: -20px;
  margin-left: -20px;
}

.post-2 {
  background: #8D8741;
  height: 420px;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row-reverse;
  color: #484848;
}

.post-2-main {
  display: flex;
  flex-direction: column;
}

.header-post-2 {
  font-size: 2rem;
  width: 300px;
  font-weight: inherit;
  text-align: end;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: -1px;
}

.post-2-text {
  width: 290px;
  line-height: 2rem;
  text-align: end;
  margin-left: 50px;
  margin-right: 50px;
}

.date-font-1-2 {
  font-size: 3rem;
  height: 20px;
  width: auto;
  font-weight: inherit;
  text-align: center;
}

.date-font-2-2 {
  font-size: 1.5rem;
  height: auto;
  width: auto;
  text-align: center;
}

.date-2 {
  margin-top: -25px;
}

.post-3 {
	background: #659DBD;
  height: 420px;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #484848;
}
.post-4 {
	background: #DAAD86;
  height: 420px;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row-reverse;
  color: #484848;
}

.header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #162b4d;
  color: white;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
}

.header {
  margin-left: 25px;
  font-size: 1.2rem;
}

.header-button {
  margin-right: 100px;
}

.color-header {
  color: red;
  font-weight: normal;
}

.setting-button {
  border: 0;
  padding: 30px;
  background-color: #162b4d;
  color: white;
  font-size: 1rem;
}

.setting-button:hover {
  opacity: 0.8; 
  background-color: #b8b8b8;
  cursor: pointer;
} 

.picture-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 95px;
  background-image: url(../img/post5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
  height: 420px;
  width: auto;
  background-position: 50%;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

.picture-header {
  margin-left: 30px;
  font-weight: inherit;
  font-size: 2.5rem;
}

.picture-text {
  margin-left: 30px;
  font-size: 1rem;
  line-height: 40px;
}

.footer {
  margin-top: 40px;
  background-color: #162b4d;
  margin-left: 50px;
  margin-right: 50px;
  color: gray;
}

.first-footer {  
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.second-footer {
  display: flex;
  justify-content: space-between;
} 

.first-text-footer-first {
  font-size: 0.9rem;
  margin-left: 30px;
}

.first-text-footer-second {
  font-size: 0.9rem;
  margin-right: 30px;
}

.second-text-footer-first {
  font-size: 0.9rem;
  margin-left: 30px;
}

.second-text-footer-second {
  font-size: 0.9rem;
  margin-right: 30px;
}

.news-button {
  border: 0.2rem solid black;
  height: 40px;
  width: 130px;
  margin-left: 30px;
  font-size: 0.9rem;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: bolder;
}

.news-one {
  background-color: white;
}

.news-text {
  width: 250px;
  line-height: 30px;
  margin-left: 30px;
}

.news-header {
  font-weight: lighter;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 2rem;
}

.news {
  background-color: white;
  height: auto;
  width: 340px;
  margin-top: 30px;
  margin-right: 40px;
}

.picture-news {
  width: 100%;
  height: auto;
}

.news-button:hover {
  opacity: 0.8; 
  background-color: #b8b8b8;
  cursor: pointer;
}

.news-second {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 340px;
  margin-top: 30px;
}

.first-post {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.second-post {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.main-flex {
  display: flex;
}

.mini-table {
  display: none;
}

@media screen and (max-width: 480px) {

  .header-main {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 30px;
    margin-right: 30px;
  }

  .header-button {
    display: none;
  }

  .header {
    font-size: 1.2rem;
    margin-left: 0px;
  }

  .mini-header {
    margin-top: 20px;
  }

  .mini-table  {
    display: flex;
    width: 15px;
    height: 2px;
    margin: 4px;
    background-color: white;
  }

  .main-flex {
    display: flex;
    flex-direction: column;
  }

  .post-1 {
    height: auto;
    width: auto;
    background: #F3D250;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #484848;
    margin-left: 30px;
    margin-right: 30px;
  }

  .image-1 {
    background-image: url(../img/post1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 100%;
    background-position: 50%;
  }
  
  .image-2 {
    background-image: url(../img/post2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 100%;
    background-position: 50%;
  }
  
  .image-3 {
    background-image: url(../img/post3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 100%;
    background-position: 50%;
  }
  
  .image-4 {
    background-image: url(../img/post4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 100%;
    background-position: 50%;
  }

  .post-1-main {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .header-post-1 {
    font-size: 2rem;
    height: 100%;
    font-weight: lighter;
    margin-top: 50px;
    width: auto;
    height: auto;
  }

  .post-1-text {
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin-top: -15px;
    width: auto;
    height: auto;
    text-align: start;
    margin-left: 5px;
    margin-right: 5px;
  }

  .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 20px;
    margin-top: -40px;
  }

  .date-font-1 {
    font-size: 2rem;
    width: auto;
    font-weight: lighter;
    text-align: center;
  }

  .date-font-2 {
    font-size: 1rem;
    height: auto;
    width: auto;
    text-align: center;
    font-weight: lighter;
    margin-bottom: -15px;
  }

  .post-2 {
    height: auto;
    width: auto;
    background: #8D8741;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #484848;
    margin-left: 30px;
    margin-right: 30px;
  }

  .post-2-main {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .header-post-2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 50px;
    width: auto;
    height: auto;
    text-align: start;
    margin-left: 5px;
    margin-right: 5px;
  }

  .post-2-text {
    line-height: 1.5rem;
    font-size: 0.9rem;
    width: auto;
    height: auto;
    text-align: start;
    margin-left: 5px;
    margin-right: 5px;
  }

  .date-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 20px;
    margin-top: -40px;
  }

  .date-font-1-2 {
    font-size: 2rem;
    width: auto;
    font-weight: lighter;
    text-align: center;
  }

  .date-font-2-2 {
    font-size: 1rem;
    height: auto;
    width: auto;
    text-align: center;
    font-weight: lighter;
    margin-bottom: -15px;
  }

  .post-3 {
    height: auto;
    width: auto;
    background: #659DBD;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #484848;
    margin-left: 30px;
    margin-right: 30px;
  }

  .post-4 {
    height: auto;
    width: auto;
    background: #DAAD86;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #484848;
    margin-left: 30px;
    margin-right: 30px;
  }

  .picture-footer {
    height: 450px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .picture-header {
    margin-left: 30px;
    font-weight: lighter;
    font-size: 1.7rem;
    margin-top: -50px;
  }
  .picture-text {
    margin-left: 30px;
    font-size: 0.8rem;
    line-height: 30px;
    margin-top: -10px;
  } 

  .news {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    width: auto;
    margin-top: 20px;
  }

  .picture-news {
    width: 100%;
    height: 100%;
  }

  .news-text {
    width: auto;
    line-height: 30px;
    margin-left: 30px;
    font-size: 0.8rem;
  }
  
  .news-header {
    margin-left: 30px;
    font-size: 1.3rem;
  }

  .news-button {
    border: 0.2rem solid black;
    height: 40px;
    width: 110px;
    margin-left: 30px;
    font-size: 0.7rem;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bolder;
  }
  
  .news-second {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    width: auto;
    margin-top: 30px;
  }

  .footer {
    color: white;
  }

  .first-footer {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .first-text-footer-first {
    font-size: 0.8rem;
    margin: 0 auto;
    padding-top: 60px;
  }

  .first-text-footer-second {
    font-size: 0.8rem;
    margin-right: 1px;
  }

  .second-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .second-text-footer-first {
    font-size: 0.8rem;
    margin: 0 auto;
    padding-top: 15px;
  }

  .second-text-footer-second {
    font-size: 0.8rem;
    padding-bottom: 50px;
    margin-right: 1px;
  }

}

@media screen and (max-width: 768px) {
  
  .header-main {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 2px;
    margin-right: 10px;
  }

  .header-button {
    display: none;
  }

  .header {
    font-size: 1.2rem;
    margin-left: 0px;
  }

  .mini-header {
    margin-top: 20px;
  }

  .mini-table  {
    display: flex;
    width: 15px;
    height: 2px;
    margin: 4px;
    background-color: white;
  }

  .post-1 {
    height: auto;
    width: auto;
    background: #F3D250;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #484848;
    margin-left: 2px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .image-1 {
    background-image: url(../img/post1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 100%;
    background-position: 50%;
  }
  
  .image-2 {
    background-image: url(../img/post2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 100%;
    background-position: 50%;
  }
  
  .image-3 {
    background-image: url(../img/post3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 100%;
    background-position: 50%;
  }
  
  .image-4 {
    background-image: url(../img/post4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 100%;
    background-position: 50%;
  }

  .post-1-main {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .header-post-1 {
    font-size: 2rem;
    height: 100%;
    font-weight: lighter;
    margin-top: 50px;
    width: auto;
    height: auto;
  }

  .post-1-text {
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin-top: -15px;
    width: auto;
    height: auto;
    text-align: start;
    margin-left: 5px;
    margin-right: 5px;
  }

  .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 20px;
    margin-top: -40px;
  }

  .date-font-1 {
    font-size: 2rem;
    width: auto;
    font-weight: lighter;
    text-align: center;
  }

  .date-font-2 {
    font-size: 1rem;
    height: auto;
    width: auto;
    text-align: center;
    font-weight: lighter;
    margin-bottom: -15px;
  }

  .post-2 {
    height: auto;
    width: auto;
    background: #8D8741;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #484848;
    margin-left: 2px;
    margin-right: 10px;
  }

  .post-2-main {
    display: flex;
    flex-direction: column;
  }

  .header-post-2 {
    font-size: 2rem;
    width: 290px;
    font-weight: lighter;
    text-align: start;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -1px
  }

  .post-2-text {
    width: 390px;
    line-height: 2rem;
    text-align: start;
    margin-left: 50px;
    margin-right: 50px
  }

  .date-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 20px;
    margin-top: -40px;
  }

  .date-font-1-2 {
    font-size: 2rem;
    width: auto;
    font-weight: lighter;
    text-align: center;
  }

  .date-font-2-2 {
    font-size: 1rem;
    height: auto;
    width: auto;
    text-align: center;
    font-weight: lighter;
    margin-bottom: -15px;
  }

  .post-3 {
    height: auto;
    width: auto;
    background: #659DBD;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #484848;
    margin-left: 2px;
    margin-right: 10px;
  }

  .post-4 {
    height: auto;
    width: auto;
    background: #DAAD86;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #484848;
    margin-left: 2px;
    margin-right: 10px;
  }

  .picture-footer {
    height: 450px;
    width: auto;
    margin-left: 2px;
    margin-right: 10px;
  }
  
  .picture-header {
    margin-left: 30px;
    font-weight: lighter;
    font-size: 1.7rem;
    margin-top: -50px;
  }
  .picture-text {
    margin-left: 30px;
    font-size: 0.8rem;
    line-height: 30px;
    margin-top: -10px;
  } 

  .news {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 2px;
    height: auto;
    width: auto;
    margin-top: 20px;
  }

  .picture-news {
    width: 100%;
  }

  .news-text {
    width: auto;
    line-height: 30px;
    margin-left: 30px;
    font-size: 0.8rem;
  }
  
  .news-header {
    margin-left: 30px;
    font-size: 1.3rem;
  }

  .news-button {
    border: 0.2rem solid black;
    height: 40px;
    width: 110px;
    margin-left: 30px;
    font-size: 0.7rem;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bolder;
  }
  
  .news-second {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 2px;
    height: auto;
    width: auto;
    margin-top: 30px;
  }

  .footer {
    color: white;
    margin-left: 2px;
    margin-right: 2px;
  }

  .first-footer {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .first-text-footer-first {
    font-size: 0.8rem;
    margin: 0 auto;
    padding-top: 60px;
  }

  .first-text-footer-second {
    font-size: 0.8rem;
    margin-right: 1px;
  }

  .second-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .second-text-footer-first {
    font-size: 0.8rem;
    margin: 0 auto;
    padding-top: 15px;
  }

  .second-text-footer-second {
    font-size: 0.8rem;
    padding-bottom: 20px;
    margin-right: 1px;
  }

}
